* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.movie-wrapper {
  background-color: #000;
}
.movie-wrapper h2 {
  color: #fff;
  padding: 15px 0 5px 10px;
  text-transform: uppercase;
}
.movies {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  padding-left: 10px;
}
.movies::-webkit-scrollbar {
  display: none;
}
.movies img {
  height: 200px;
  width: 150px;
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 3px 3px grey;
}
.movies img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  border-radius: 18px;
}


/* <-----------------Navbar--------------> */

nav {
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: gray;
  position: fixed;
}
.left-logo {
  height: 35px;
  width: 130px;
}
.left-logo img {
  width: 100%;
  height: 100%;
}
.right-logo {
  height: 35px;
  width: 50px;
}
.right-logo img {
  width: 100%;
  height: 100%;
}



/* <--------------Banner-------------> */


.bannerImage {
  width: 100%;
  height: 600px;
  background-size: cover;
}

